[Unit]
Description=DevOps Fetch Service
After=network.target

[Service]
ExecStart=/usr/bin/bash /mnt/c/Users/User/Documents/Vscode_projects/devops/stage-5/devopsfetch-CI/devopsfetch.sh
Restart=on-failure
User=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=devopsfetch

[Install]
WantedBy=multi-user.target

